:root {
  --font-primary: 'Roboto', sans-serif;
  --font-logo: 'Lobster', cursive;

  --bg-primary: #030d0b;
}

html,
body,
.content {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--font-primary);
}

.content {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--bg-primary);
  padding: 1em 0;
}

.nav {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: var(--font-logo);
  font-size: 1.5rem;
  color: white;
  flex: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
}

.nav-toggle {
  display: block;
  margin: 0;
  width: 1.5rem;
  height: auto;
  position: relative;
}

.hidden {
  display: none;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background-color: white;
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}

.hamburger::before {
  transform: translateY(-7px);
}

.hamburger::after {
  transform: translateY(4px);
}

/* Main */
.main {
  height: 100%;
}

/* Home page */

.home {
  color: white;
  height: 100%;
  margin: 0;
  background: url(../images/home-bg.jpg);
  background-size: cover;
  background-position: center;
}

.home .container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #030d0b67;
  gap: 2em;
}

.title,
.description {
  width: 90%;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
}

.description {
  text-align: center;
  font-size: 1rem;
  max-width: 50ch;
}

@media screen and (max-width: 599px) {
  .relative {
    position: relative;
  }

  .nav-menu {
    background-color: var(--bg-primary);
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 2em;
  }

  .nav-menu li:not(:last-of-type) {
    margin-bottom: 1em;
  }

  .nav-item:active {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 3px;
  }

  .home {
    background: url(../images/home-bg-mobile.jpg);
    background-position-y: -15em;
    background-position-x: right;
  }
}

@media screen and (min-width: 600px) {
  .logo {
    font-size: 2rem;
  }

  .nav-menu {
    display: flex;
    gap: 2em;
  }

  .nav-toggle {
    display: none;
  }

  .title {
    font-size: 3rem;
  }

  .description {
    font-size: 1.25rem;
  }
}
