:root {
  --font-primary: 'Roboto', sans-serif;
  --font-logo: 'Lobster', cursive;

  --bg-primary: #030d0b;
  --text-red: #991b1b;
}

html,
body {
  height: 100%;
  margin: 0;
}

.content {
  min-height: 100%;
  font-family: var(--font-primary);
  background-image: url(../images/home-bg-mobile.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position-x: right;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--bg-primary);
  padding: 1em 0;
}

.nav {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: var(--font-logo);
  font-size: 1.5rem;
  color: white;
  flex: 1;
}

li {
  list-style: none;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
}

.nav-toggle {
  display: block;
  margin: 0;
  width: 1.5rem;
  height: auto;
  position: relative;
}

.hidden {
  display: none;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background-color: white;
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}

.hamburger::before {
  transform: translateY(-7px);
}

.hamburger::after {
  transform: translateY(4px);
}

/* Main */
.main {
  flex: 1;
  background-color: #030d0b67;
  display: flex;
  justify-content: center;
}

/* Footer */
.footer {
  background-color: var(--bg-primary);
  text-align: center;
  font-size: 0.8rem;
  color: white;
  padding: 1em;
}

.github-link {
  text-decoration: underline;
}

/* Home page & About page*/

.home,
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  color: white;
}

.title,
.description {
  width: 90%;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.resto {
  font-family: var(--font-logo);
}

.description {
  text-align: center;
  font-size: 1rem;
  max-width: 60ch;
}

/* Menu Page */

.menu {
  width: 90%;
  max-width: 800px;
  margin: 1.5em 0;
  color: var(--bg-primary);
}

.menu-item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.menu-item-card {
  background-color: white;
  margin: 0 auto;
  border-radius: 5px;
}

.details {
  padding: 1em 1em;
}

.menu-name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  font-weight: 700;
}

.menu-name {
  font-size: 1.5rem;
  flex: 1;
}

.menu-price {
  text-align: end;
  color: var(--text-red);
}

@media screen and (max-width: 599px) {
  .relative {
    position: relative;
  }

  .nav-menu {
    background-color: var(--bg-primary);
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 2em;
  }

  .nav-menu li:not(:last-of-type) {
    margin-bottom: 1em;
  }

  .nav-item:active {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 3px;
  }
}

@media screen and (min-width: 600px) {
  .content {
    background-image: url(../images/home-bg.jpg);
    background-position: center;
  }

  .logo {
    font-size: 2rem;
  }

  .nav-menu {
    display: flex;
    gap: 2em;
  }

  .nav-toggle {
    display: none;
  }

  .home {
    gap: 4em;
  }

  .title {
    font-size: 3rem;
  }

  .description {
    font-size: 1.25rem;
  }

  .menu-item {
    grid-template-columns: 1fr 1fr;
    gap: 3em;
  }

  .menu-item-card {
    border-radius: 10px;
  }
}
